.profile-card {
  background-color: #f0f7ff;
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
